<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  -->
  <appSettings>
    <!--
    <add key="host" value="by-dcpbc.bayer-ag.com:21/"/>
    <add key="user" value="mxkr1PBC"/>
    <add key="pass" value="X0O2mlUz"/
    <add key="sql_connection" value="server=10.43.2.60;;database=koko;uid=sfsadmin;pwd=Qhdskan150!"/>
    -->
    <add key="host" value="112.222.14.146:2100/"/>
    <add key="user" value="sellpiaFile"/>
    <add key="pass" value="kokoSell2019!"/>
    <add key="sql_connection_production" value="Server=211.47.74.230;Database=dbcrkk;uid=crkk;pwd=17cpfleoqkr!;Connect Timeout=120"/>
    <add key="sql_connection_test" value="server=10.43.2.60;database=koko;uid=sfsadmin;pwd=Qhdskan150!"/>
    <add key="LogFilePath" value="C:\Temp\ZIGZAG\LOG"/>
    <add key="LogWriteYN" value="Y"/>
    <add key="Interval" value="10" />
    <add key="Minutes" value="10" />    
    <add key="downloadYN" value="Y" />
    <add key="product_tb" value="TB_MASTER_PRODUCT_TEST" />
    <add key="order_tb" value="TB_ORDER_DETAIL_TEST" />
    <add key="DownLoadFolder" value="C:\TEMP\ZIGZAG\DOWNLOAD" />
    <add key="ZigZag_ID" value="webmaster@cherrykoko.com" />
    <add key="ZigZag_Password" value="20cpfleoqkr!@@" />
    
    




    <add key="sellpia_file_rule" value="sellpia_"/>


  </appSettings>
</configuration>